In [1]:
#Load in the essentials
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
#Load the data and create the data variables
dataset = pd.read_excel('advertising.xlsx')
dataset

          Date     TV  Radio  Newspaper  Sales
0   2015-01-01  230.1   37.8       69.2   22.1
1   2015-01-08   44.5   39.3       45.1   10.4
2   2015-01-15   17.2   45.9       69.3    9.3
3   2015-01-22  151.5   41.3       58.5   18.5
4   2015-01-29  180.8   10.8       58.4   12.9
..         ...    ...    ...        ...    ...
195 2018-09-27   38.2    3.7       13.8    7.6
196 2018-10-04   94.2    4.9        8.1    9.7
197 2018-10-11  177.0    9.3        6.4   12.8
198 2018-10-18  283.6   42.0       66.2   25.5
199 2018-10-25  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
x = dataset.iloc[:,1:4]
y = dataset['Sales']
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [7]:
#Create and fit the model for prediction
lin = LinearRegression()
lin.fit(x_train,y_train)
y_pred = lin.predict(x_test)

In [9]:
#Create Coefficients
coef = lin.coef_
components = pd.DataFrame(zip(x.columns,coef),columns=['component','value'])
components = components.append({'component':'intercept','value':lin.intercept_},ignore_index=True)

C:\Users\rulzy\AppData\Local\Temp\ipykernel_9756\1447252432.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components = components.append({'component':'intercept','value':lin.intercept_},ignore_index=True)

In [11]:
components

   component     value
0         TV  0.046248
1      Radio  0.190391
2  Newspaper  0.006015
3  intercept  2.596000